	<!-- Section: intro -->
    <section id="intro" class="intro">
		<div class="intro-content">
			<div class="container">
				
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
					    <%= image_tag("iphone.png", class: "img-responsive") %>
					</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6 slogan">
						<div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
						<h2>You found Kombustion!</h2>
						<p>
						Keeping up on vehicle maintenance can be a pain. Have you ever forgotten when you last changed your oil? How about rotated those tires? Keeping on track with these can you save you money and keep your vehicle in running longer.
						</p>
						<p>
						Even more important are the other maintenance services you don't even know about. When was your differential fluid changed? What condition is your gas cap seal in? Is your PCV valve functioning correctly? Having a malfunctioning PCV valve could cost you thousands in lost mileage. 
						These are all simple procedures but are often overlooked. They could even save you thousands in the long run! Keep up to date with Kombustion!
						</p>
						</div>
						<div class="buttons">
						<!-- <a href="#" class="btn btn-success btn-md wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s"><i class="fa fa-android fa-2x"></i> Download<br /> <small>Android <br />(in the future)</small></a>
						<a href="#" class="btn btn-info btn-md wow fadeInLeft" data-wow-duration="3s" data-wow-delay="0.3s"><i class="fa fa-android fa-2x"></i> Download<br /> <small>Android <br />(in the future)</small></a> -->
						<%= link_to signup_path, class: "btn btn-info btn-lg wow fadeInRight", data: {wow_duration: "4s", wow_delay: "0.4s"} do %>
                                  <i class="fa fa-thumbs-o-up fa-2x"></i> Sign Up!<br /> <small>It's easy!</small>
                        <% end %>
						<!--<a href="#" class="btn btn-info btn-lg wow fadeInRight" data-wow-duration="3s" data-wow-delay="0.3s"><i class="fa fa-apple fa-2x"></i> Download<br /> <small>iOs version 1.4</small></a> -->
					
							
					
						</div>
						
					</div>					
				</div>		
			</div>
		</div>		
    </section>
	
	<!-- /Section: intro -->
	<div class="divider-short"></div>
	
    <section id="content1" class="home-section">
	
		<div class="container">
			<div class="row text-center heading">
				<h3>Awesome features</h3>
			</div>
			
			
			<div class="row">
				<div class="col-md-6">
					<div class="wow fadeInLeft" data-wow-delay="0.2s">
					    <%= image_tag("img-1.png", class: "img-responsive") %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="wow fadeInRight" data-wow-delay="0.3s">
						<div class="features">							
							<i class="fa fa-check fa-2x circled bg-skin float-left"></i>
							<h5>Modern interface</h5>
							<p>
							It's pretty! 
							</p>
						</div>
						<div class="features">							
							<i class="fa fa-check fa-2x circled bg-skin float-left"></i>
							<h5>Easy to use</h5>
							<p>
							Easily navigate between vehicles. Form wizards will help you go step by step so you never have to assume what to do.
							</p>
						</div>
						<div class="features">							
							<i class="fa fa-check fa-2x circled bg-skin float-left"></i>
							<h5>Show off your ride</h5>
							<p>
							You should be proud of your ride so put it up for others to see! Search by make, model, year, or whatever you are looking for. Get ideas from our large community of gear heads. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- /Section: content -->
	
	<div class="divider-short"></div>
	
    <section id="content2" class="home-section">
	
		<div class="container">
			<div class="row text-center heading">
				<h3>More features</h3>
			</div>
			
			
			<div class="row">
				<div class="col-md-6">
					<div class="wow fadeInLeft" data-wow-delay="0.2s">
						<p>
						Keep track of everything related to your ride. Want to know what sort of MPG you're getting? Maybe you want to know how much you are spending on brakes? How about what other people are spending on their rides? All these will be tools to help you get the most out of your ride. 
						</p>
						<p>
						Kombustion is a webb app and this means that any device will display it in it's glory. Eventually we will have device specific apps but for now, just open up your browser and go to kombustion.io. That's it! No more jealously off other phones because of their OS specific apps. 
						</p>
						<div class="divider-short marginbot-30 margintop-30"></div>
						<div class="features">							
							<i class="fa fa-android fa-2x circled bg-skin float-left"></i>
							<h5>Android application</h5>
						</div>
						<div class="features">							
							<i class="fa fa-apple fa-2x circled bg-skin float-left"></i>
							<h5>For Apple iOs</h5>
						</div>
						<div class="features">							
							<i class="fa fa-windows fa-2x circled bg-skin float-left"></i>
							<h5>Windows version</h5>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="wow fadeInRight" data-wow-delay="0.3s">
					    <%= image_tag("img-2.png", class: "img-responsive") %>
					</div>
				</div>

			</div>
		</div>

	</section>
	<!-- /Section: content -->
	
	<div class="divider-short"></div>
    <section id="works" class="home-section text-center">
		<div class="container">
			<div class="row text-center heading">
				<h3>Screenshots</h3>
			</div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12" >

                    <div class="row gallery-item">
                        <div class="col-md-3">
							<%= image_tag("works/1.jpg", class: "img-responsive") %>
						</div>
						<div class="col-md-3">
							<%= image_tag("works/2.jpg", class: "img-responsive") %>
						</div>
						<div class="col-md-3">
							<%= image_tag("works/3.jpg", class: "img-responsive") %>
						</div>
						<div class="col-md-3">
							<%= image_tag("works/4.jpg", class: "img-responsive") %>
						</div>
					</div>
	
                </div>
            </div>	
		</div>
	</section>


	<section id="callaction" class="home-section paddingtop-40">	
           <div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="callaction">
							<div class="row">
								<div class="col-md-8">
									<div class="wow fadeInUp" data-wow-delay="0.1s">
									<div class="cta-text">
									<h3>Need more advanced features?</h3>
									<p>We are totally open for new ideas, just send us a line and we'll figure out a way to work it in.  </p>
									</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="wow lightSpeedIn" data-wow-delay="0.1s">
										<div class="cta-btn">
										<a href="#" class="btn btn-skin btn-lg">Contact us</a>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
	</section>	



