<div class="col-sm-4 col-md-3 ">
 <div id="profile-widget" class="panel">
    <div class="panel-heading">
        <%= image_tag(explore.picture.url, class: "ride-image") if explore.picture? %>
    </div>
    <div class="panel-body">
       <div class="media">
          <a class="pull-left" href="#">
          <%= link_to gravatar_for(explore.user, size: 50), explore.user %>
          </a>
          <div class="media-body">
             <h2 class="media-heading"><%= explore.name %></h2>
             <%= explore.year %> <%= explore.make %> <%= explore.model %>
          </div>
       </div>
    </div>
    <div class="panel-footer">
       <div class="btn-group btn-group-justified">
          <%= link_to explore, :class => "btn btn-default" do %><i class="fa fa-eye"> 172</i><% end %>
          <a class="btn btn-default" role="button"><i class="fa fa-comment"></i> 34</a>
          <a class="btn btn-default" role="button"><i class="fa fa-heart"></i> 210</a>
       </div>
    </div>
 </div>
</div>