<div id="ride-<%= ride.id %>">  
<div class="col-lg-3 col-md-6">
      <div id="vehicle-widget" class="vehicle">
         <div class="vehicle-body">
            <%= image_tag(ride.picture.url, class: "img-circle img-responsive") if ride.picture? %>
         </div>
         <div class="vehicle-heading text-center">
            <h2 class="text-uppercase"><strong><%= ride.name %></strong></h2>
         </div>
         <div class="vehicle-heading text-center">
            <%= ride.make %> <%= ride.model %>
         </div>
         <div class="vehicle-footer">
            <div class="list-block">
               <ul class="text-center legend">
                  <li class="hours" style="margin-right: 1px;">
                     <div class="text-uppercase"><%= ride.unit_of_measurement %></div>
                     <h3><strong><%= time_ago_in_words(ride.created_at) %></strong></h3>
                  </li>
                  <li class="status">
                     STATUS 
                     <h3><i class="fa fa-thumbs-up fa-2x"></i></h3>
                  </li>
                  <li class="issues" style="margin-left: 1px;">
                     <5 HOURS  
                     <h3><strong>10</strong></h3>
                  </li>
               </ul>
            </div>
            <div class="btn-group btn-group-justified text-uppercase text-center">
               <a class="btn btn-default" role="button"><i class="fa fa-cloud-upload fa-2x"></i><br><small>Update</small></a>
               <a class="btn btn-default" role="button"><i class="fa fa-share-alt fa-2x"></i><br><small>See Intervals</small></a>
               <!--<a class="btn btn-default" role="button"><i class="fa fa-history fa-2x"></i><br><small>Information</small></a>-->
               <div class="btn btn-default" role="button">
                  <%= link_to ride do %>
                     <i class="fa fa-history fa-2x"></i><br><small>Information</small> 
                  <% end %>
               </div>
            </div>
         </div>
      </div>
    </div>
</div>