<% provide(:title, "My Garage") %>
<div class="col-lg-12">
    <h1 class="page-header">My Garage</h1>
</div>

<div class = "row">
 <%= render @rides %>
<div class="col-lg-3 col-md-6">
   <!--
      ****** CHART WIDGET *******
      -->    
   <div id="vehicle-widget" class="vehicle">
      <div class="vehicle-body">
         <%= image_tag("F800GSA.jpg", class: "vehicle-image") %>
      </div>
      <div class="vehicle-heading text-center">
         <h2 class="text-uppercase"><strong>BMW F800GSA</strong></h2>
      </div>
      <div class="vehicle-footer">
         <div class="list-block">
            <ul class="text-center legend">
               <li class="hours" style="margin-right: 1px;">
                  HOURS 
                  <h2>62</h2>
               </li>
               <li class="status">
                  STATUS 
                  <h2><i class="fa fa-thumbs-up fa-2x"></i></h2>
               </li>
               <li class="issues" style="margin-left: 1px;">
                  <5 HOURS  
                  <h2>10</h2>
               </li>
            </ul>
         </div>
         <div class="btn-group btn-group-justified text-uppercase text-center">
            <a class="btn btn-default" role="button"><i class="fa fa-cloud-upload fa-2x"></i><br><small>Update</small></a>
            <a class="btn btn-default" role="button"><i class="fa fa-share-alt fa-2x"></i><br><small>See Intervals</small></a>
            <a class="btn btn-default" role="button"><i class="fa fa-history fa-2x"></i><br><small>Information</small></a>
         </div>
      </div>
   </div>
</div>

<div class="col-lg-3 col-md-6">
   <!--
      ****** CHART WIDGET *******
      -->    
   <div id="vehicle-widget" class="vehicle">
      <div class="vehicle-body">
         <%= image_tag("GASGAS.jpg", class: "vehicle-image") %>
      </div>
      <div class="vehicle-heading text-center">
         <h2 class="text-uppercase"><strong>GASGAS TXT250</strong></h2>
      </div>
      <div class="vehicle-footer">
         <div class="list-block">
            <ul class="text-center legend">
               <li class="hours" style="margin-right: 1px;">
                  HOURS 
                  <h2>4</h2>
               </li>
               <li class="status">
                  STATUS 
                  <h2><i class="fa fa-thumbs-up fa-2x"></i></h2>
               </li>
               <li class="issues" style="margin-left: 1px;">
                  <5 HOURS  
                  <h2>4</h2>
               </li>
            </ul>
         </div>
         <div class="btn-group btn-group-justified text-uppercase text-center">
            <a class="btn btn-default" role="button"><i class="fa fa-cloud-upload fa-2x"></i><br><small>Update</small></a>
            <a class="btn btn-default" role="button"><i class="fa fa-share-alt fa-2x"></i><br><small>See Intervals</small></a>
            <a class="btn btn-default" role="button"><i class="fa fa-history fa-2x"></i><br><small>Information</small></a>
         </div>
      </div>
   </div>
</div>

<div class="col-lg-3 col-md-6">
   <!--
      ****** CHART WIDGET *******
      -->    
   <div id="vehicle-widget" class="vehicle">
      <div class="vehicle-body">
         <%= image_tag("yz250.jpg", class: "vehicle-image") %>
      </div>
      <div class="vehicle-heading text-center">
         <h2 class="text-uppercase"><strong>Yamaha YZ250</strong></h2>
      </div>
      <div class="vehicle-footer">
         <div class="list-block">
            <ul class="text-center legend">
               <li class="hours" style="margin-right: 1px;">
                  HOURS 
                  <h2>135</h2>
               </li>
               <li class="status">
                  STATUS 
                  <h2><i class="fa fa-thumbs-down fa-2x"></i></h2>
               </li>
               <li class="issues" style="margin-left: 1px;">
                  <5 HOURS  
                  <h2>43</h2>
               </li>
            </ul>
         </div>
         <div class="btn-group btn-group-justified text-uppercase text-center">
            <a class="btn btn-default" role="button"><i class="fa fa-cloud-upload fa-2x"></i><br><small>Update</small></a>
            <a class="btn btn-default" role="button"><i class="fa fa-share-alt fa-2x"></i><br><small>See Intervals</small></a>
            <a class="btn btn-default" role="button"><i class="fa fa-history fa-2x"></i><br><small>Information</small></a>
         </div>
      </div>
   </div>
</div>

<div class="col-lg-3 col-md-6">
   <!--
      ****** CHART WIDGET *******
      -->    
   <div id="vehicle-widget" class="vehicle">
      <div class="vehicle-body">
         <i class="fa fa-plus-square fa-5x vehicle-image"></i>
      </div>
      <div class="vehicle-heading text-center">
         <h2 class="text-uppercase"><strong>New Ride</strong></h2>
      </div>
      <div class="vehicle-footer">
         <%= link_to('Add Ride', new_ride_path, class: 'btn btn-primary btn-lg btn-block')  %>
      </div>
   </div>
</div>

   
</div>