<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800|Lato:100,400,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'welcome', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
      <div id="wrapper">
        <%= render 'layouts/welcome_nav' %>
        <div class="container extra-padding">
            <% flash.each do |message_type, message| %>
              <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>
            <%= yield %>
        </div>
        <%= render 'layouts/welcome_footer' %>
      </div>
     <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
  </body>
</html>